.dashboard {
  .show-image {
    display: flex;
    justify-content: center;
    div {
      width: 400px;
      max-width: 400px;
      max-height: 400px;
      height: 400px;
      @include background-image();
      opacity: 0;
    }
    .loader {
      opacity: 1;
      transition: opacity .2s;
    }
  }
}
