//variables & mixins
@import "./variables";

// meat of the matter
html {
  margin: 0;
  padding: 0;
}

body {
  background: #777777;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  background: url("../../resources/background.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @import "./loader";
  @import "./dashboard";

  .welcome-screen, .dropzone, .no-files {
    @include vertical-center();
    flex-direction: column;
    width: 70vw;
    min-width: 320px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10vh;
    background-color: rgba(50, 50, 50, 0.5);
    border: 1px solid #7d5e1f;
    color: white;
    font-size: 18px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
      height: 200px;
    }
  }

  @import "./upload";
  @import "./navigation";
  @import "./login-signin";
  @import "./files-wrapper";

}

